<!--기타-->
<!--옆에 미리보기 있으면 좋음-->
<br><br><br>
<1> <2> ..... n

<div style = "background-color : beige">
<h1>질문을 입력해주세요.</h1>
질문입력칸 넣기
</div>

<div style = "background-color : #fff0f6">
        <h4>답변형식</h4>
     <br>
    v 날짜<br>
    v 시간<br>
    v 표

    <div style = "background-color : #fcc2d7">
        옵션 넣기
    </div>
</div>

<%#= link_to "다음 질문만들기", new_survey_question_path %> <br>
<%#= link_to "완성하기", surveys_preview_path %>