<!--객관식-->
<!--옆에 미리보기 있으면 좋음-->
<br><br><br>
<1> <2> ..... n

<div style = "background-color : beige">
<h1>질문을 입력해주세요.</h1>
질문입력칸 넣기
</div>

<div style = "background-color : #fff0f6">
    <h4>답변</h4>
     <br>
    0. 내용 <br>
    0. 내용 <br>
    ㄴ multiple choice 연결
.<br>
.<br>
0. 기타: _____
    <div style = "background-color : #fcc2d7">
        <h5>detail</h5>
        1개만 선택 가능<br>
        여러개 선택 가능 : 0개까지
    </div>
</div>

<%#= link_to "다음 질문만들기", new_survey_question_path %> <br>
<%#= link_to "완성하기", surveys_preview_path %>