@import "bootstrap";
  @font-face { 
    font-family: 'S-CoreDream-4Regular'; 
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff'); 
    font-weight: normal; 
    font-style: normal; }
    
  @font-face { font-family: 'S-CoreDream-8Heavy'; 
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-8Heavy.woff') format('woff');
  font-weight: normal; 
  font-style: normal; }
  
  @font-face { font-family: 'S-CoreDream-3Light';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
  font-weight: normal;
  font-style: normal; }
  
  
  
  
*{
  font-family: 'S-CoreDream-4Regular';
  font-size: 20px;
  
}

h1 {
  font-family: 'S-CoreDream-8Heavy';
}


/*!------------------------------------------------------------------
[MAIN STYLESHEET]

PROJECT:	Project Name
VERSION:	Versoin Number
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
[TABLE OF CONTENTS]
-------------------------------------------------------------------*/
